<%- include('includes/head') %>
<%- include('includes/header') %>

<section class="section wb">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget box-shadow--lightgrey">
                        <div class="alert alert-secondary text-center text-uppercase" role="alert">
                            Публикувайте Вашата Любима Рецепта
                        </div>

                        <!-- Display Reg. Errors -->
                        <% if (errors.length > 0) { %>

                            <% errors.forEach((error) => { %>
                                 <li class="alert alert-danger"><%= error %></li>
                             <% }) %>
 
                         <% } %>
                         <!-- END Display Reg. Errors -->

                        <hr class="invis">

                        <form action="/blog/recipe/create" class="form-wrapper" method="POST" encType="multipart/form-data">
                            <!-- <input type="text" name="username" class="form-control" placeholder="Потребител:"> -->
                            <input type="text" name="title" value="<%= recipeData.title %>" class="form-control" placeholder="Заглавие:">
                            <input type="text" name="category" value="<%= recipeData.category %>" class="form-control" placeholder="Категория:">
                            <input type="text" name="ingredients" value="<%= recipeData.ingredients %>" class="form-control" placeholder="Продукти:">
                            <textarea name="content" class="form-control" placeholder="Начин на приготвяне:"><%= recipeData.content %></textarea>
                            <span class="label label-danger">Качете снимка на вашата рецепта.</span>
                            <input type="file" name="image" width="800" class="form-control-file">
                            <button type="submit" class="btn btn-primary mt-3">Запиши <i class="fa fa-envelope-open-o"></i></button>
                        </form>
                    </div>
                    <picture class="widget box-shadow--lightgrey">
                        <img src="/images/create-recipe.jpg" class="img-fluid img-thumbnail" alt="Create recipe">
                    </picture>
                </div>
            </div><!-- end col -->

            <!-- SIDE BAR -->
            <%- include('includes/sidebar') %>
        </div><!-- end row -->
    </div><!-- end container -->
</section>


<%- include('includes/footer') %>