<%- include('includes/head') %>
<%- include('includes/header') %>

<section class="section lb">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <div class="page-wrapper">
                  <div class="blog-list clearfix">

                    <% recipes.forEach((recipe) => { %>

                        <div class="blog-box row box-shadow--lightgrey">
                            <div class="col-md-4 d-flex align-items-center">
                                <div class="post-media">
                                    <a href="/blog/recipe/<%= recipe._id %>" title="">
                                        <img src="<%= recipe.image %>" alt="Снимка ястие" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="/blog/recipe/<%= recipe._id %>" title=""><%= recipe.title %></a></h4> <!-- Заглавие -->
                                <p class=""><%= recipe.category %></p> <!-- Описание -->
                                <small><a href="blog-category-01.html" title=""><%= recipe.category %></a></small> <!-- Категория -->
                                <small><a href="food-single.html" title=""><%= recipe.createdDate.toDateString() %></a></small>
                                <small><a href="blog-author.html" title="">от <%= recipe.author.username %></a></small>
                            </div><!-- end meta -->
                        </div>
                        <!-- end blog-box -->
                        <hr class="invis">

                    <% }) %>

                      <!-- Банер 728 Х 90 -->
                      <!-- <div class="row">
                          <div class="col-lg-10 offset-lg-1">
                              <div class="banner-spot clearfix">
                                  <div class="banner-img">
                                      <img src="upload/banner_06.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                      </div> -->
                      <!-- end row Банер 728 Х 90-->

                  </div><!-- end blog-list -->
              </div><!-- end page-wrapper -->

              <hr class="invis">

              <!-- Page Pagination -->
              <div class="row">
                  <div class="col-md-12">
                      <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-start">
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                              </li>
                          </ul>
                      </nav>
                  </div><!-- end col -->
              </div><!-- end row -->
              
          </div><!-- end col -->

          <!-- SIDE BAR -->
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="sidebar">
                  <div class="widget box-shadow--lightgrey">
                      <h2 class="widget-title">Търси</h2>
                      <form class="search-form">
                          <input type="text" class="form-control" placeholder="Търсене в Рецептите">
                      </form>
                  </div><!-- end widget -->

                  <div class="widget box-shadow--lightgrey">
                      <h2 class="widget-title">Последни Рецепти</h2>
                      <div class="blog-list-widget">
                          <div class="list-group">
                              <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="w-100 justify-content-between">
                                      <img src="upload/blog_square_14.jpg" alt="" class="img-fluid float-left">
                                      <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                                      <small>12 Jan, 2016</small>
                                  </div>
                              </a>

                              <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="w-100 justify-content-between">
                                      <img src="upload/blog_square_12.jpg" alt="" class="img-fluid float-left">
                                      <h5 class="mb-1">Let's make an introduction for creative life</h5>
                                      <small>11 Jan, 2016</small>
                                  </div>
                              </a>

                              <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="w-100 last-item justify-content-between">
                                      <img src="upload/blog_square_11.jpg" alt="" class="img-fluid float-left">
                                      <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                                      <small>07 Jan, 2016</small>
                                  </div>
                              </a>
                          </div>
                      </div><!-- end blog-list -->
                  </div><!-- end widget -->

                  <div class="widget box-shadow--lightgrey">
                      <h2 class="widget-title">Реклама</h2>
                      <div class="banner-spot clearfix">
                          <div class="banner-img">
                              <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                          </div><!-- end banner-img -->
                      </div><!-- end banner -->
                  </div><!-- end widget -->

                  <div class="widget box-shadow--lightgrey">
                      <h2 class="widget-title">Популярни Категории</h2>
                      <div class="link-widget">
                          <ul>
                              <li><a href="#">Fahsion <span>(21)</span></a></li>
                              <li><a href="#">Lifestyle <span>(15)</span></a></li>
                              <li><a href="#">Art & Design <span>(31)</span></a></li>
                              <li><a href="#">Health Beauty <span>(22)</span></a></li>
                              <li><a href="#">Clothing <span>(66)</span></a></li>
                              <li><a href="#">Entertaintment <span>(11)</span></a></li>
                              <li><a href="#">Food & Drink <span>(87)</span></a></li>
                          </ul>
                      </div><!-- end link-widget -->
                  </div><!-- end widget -->
              </div><!-- end sidebar -->
          </div><!-- END OF SIDE BAR -->
      </div><!-- end row -->
  </div><!-- end container -->
</section>

<%- include('includes/footer') %>