<%- include('includes/head') %>
<%- include('includes/header') %>

<div class="recipe-header">
    <p>Рецептите на <span><%= username %></span></p>
</div>

<section class="section lb">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
              <div class="page-wrapper">
                  <div class="blog-list clearfix">

                    <% recipes.forEach((recipe) => { %>

                        <div class="blog-box row box-shadow--lightgrey">
                            <div class="col-md-4 d-flex align-items-center">
                                <div class="post-media">
                                    <a href="/blog/recipe/<%= recipe._id %>" title="">
                                        <img src="<%= recipe.image %>" alt="Снимка ястие" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="/blog/recipe/<%= recipe._id %>" title=""><%= recipe.title %></a></h4> <!-- Заглавие -->
                                <p class=""><%= recipe.category %></p> <!-- Описание -->
                                <small><a href="blog-category-01.html" title=""><%= recipe.category %></a></small> <!-- Категория -->
                                <small><a href="food-single.html" title=""><%= recipe.createdDate.toLocaleDateString('bg-BG') %></a></small>
                                <small><a href="blog-author.html" title="">от <%= recipe.author.username %></a></small>
                            </div><!-- end meta -->
                        </div>
                        <!-- end blog-box -->
                        <hr class="invis">

                    <% }) %>

                      <!-- Банер 728 Х 90 -->
                      <!-- <div class="row">
                          <div class="col-lg-10 offset-lg-1">
                              <div class="banner-spot clearfix">
                                  <div class="banner-img">
                                      <img src="upload/banner_06.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                      </div> -->
                      <!-- end row Банер 728 Х 90-->

                  </div><!-- end blog-list -->
              </div><!-- end page-wrapper -->

              <hr class="invis">

              <!-- Page Pagination -->
              <div class="row">
                  <div class="col-md-12">
                      <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-start">
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                              </li>
                          </ul>
                      </nav>
                  </div><!-- end col -->
              </div><!-- end row -->
              
          </div><!-- end col -->

          <!-- SIDE BAR -->
          <%- include('includes/sidebar') %>
      </div><!-- end row -->
  </div><!-- end container -->
</section>

<%- include('includes/footer') %>