<%- include('includes/head') %>
<%- include('includes/header') %>

<section class="section wb">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget box-shadow--lightgrey">
                        <div class="alert alert-secondary text-center text-uppercase" role="alert">
                            Регистриране на нов Потребител
                        </div>

                        <!-- Display Reg. Errors -->
                        <% if (errors.length > 0) { %>

                           <% errors.forEach((error) => { %>
                                <li class="list-group-item text-danger"><%= error %></li>
                            <% }) %>

                        <% } %>
                        <!-- END Display Reg. Errors -->

                        <hr class="invis">
                        <form action="/auth/register" class="form-wrapper" method="POST">
                
                            <input type="text" name="username" value="<%= data.username %>" class="form-control" placeholder="Име:">
                            <input type="email" name="email" value="<%= data.email %>" class="form-control" placeholder="Имейл:">
                            <input type="password" name="password" class="form-control" placeholder="Парола:">
                            <button type="submit" class="btn btn-primary mt-3">Регистрирайте сега <i class="fa fa-envelope-open-o"></i></button>
                        </form>
                    </div>
                </div>
            </div><!-- end col -->

            <!-- SIDE BAR -->
            <%- include('includes/sidebar') %>
        </div><!-- end row -->
    </div><!-- end container -->
</section>


<%- include('includes/footer') %>